<meta charset="utf-8">
<center>
<br><h1>Listagem dos Objetos</h1><br><br>


		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="@{'public/museu/css/linearicons.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/font-awesome.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/bootstrap.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/magnific-popup.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/nice-select.css'}">					
			<link rel="stylesheet" href="@{'public/museu/css/animate.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/owl.carousel.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/main.css'}">

<ul> 
 <table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Material</th>
      <th scope="col">História</th>
       <th scope="col">Altura</th>
      <th scope="col">Data</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    #{list items:objetos, as: 'objeto'}
  <tbody>
    <tr>
      <th scope="row">${objeto.id}</th>
      <td>${objeto.nome}</td>
      <td> ${objeto.material}</td>
      <td>${objeto.historia}</td>
      <td> ${objeto.altura}</td>
      <td>${objeto.data}</td>
      <td><a href="@{Objetos.deletar(objeto.id)}">Remover objeto</a></td>
      <td><a href="@{Objetos.editar(objeto.id)}">Editar objeto</a></td>
    </tr>
  </tbody>  
  #{/list}
</table>
</ul>

<br>
<br>

<a href="@{Objetos.form}">
   <button type="button" class="btn btn-dark">Cadastrar novo objeto</button></a><br><br>
<a href="@{Usuarios.inicio}">
   <button type="button" class="btn btn-dark">Inicio do sistema</button></a>   
</center>