#{extends 'main-administrador.html' /}
#{set title:'Administração' /}

#{if flash.success}
${flash.success}
#{/if}
#{elseif flash.error}
${flash.error}
#{/elseif}
<meta charset="utf-8">

<main class="h-full pb-16 overflow-y-auto">
	<form class="container px-6 mx-auto grid" action="@{Categorias.salvar}" method="post">
		<input type="hidden" name="categoria.id" value="${categoria?.id}">
    	<h2
        	class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
        	Cadastro de categorias
        </h2>
			
       	<div
        	class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
        >
        <div class="mt-4 text-sm">
        	<label class="block text-sm">
            	<span class="text-gray-700 dark:text-gray-400">Nome</span>
                	<input
                		name="categoria.nome" 
                		value="${categoria?.nome}"
                  		class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  		placeholder="Digite o nome da categoria"
                	/>
       		</label>
       	</div>
       	</div>
       	
       	<div class="mt-4 text-sm">
	        <input
	        	Style="cursor:pointer"
	        	type="submit"
	        	value="Cadastrar"
	          	class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
	        >
       	</div> 
	</form>
</main>


<!--
<center>
<br> <h1>Formulário de Cadastro de Objetos</h1><br><br>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		
			<link rel="stylesheet" href="@{'public/museu/css/linearicons.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/font-awesome.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/bootstrap.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/magnific-popup.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/nice-select.css'}">					
			<link rel="stylesheet" href="@{'public/museu/css/animate.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/owl.carousel.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/main.css'}">

	   <form action="@{Categorias.salvar}" method="post">
       <input type="hidden" name="objeto.id" value="${categoria?.id}">
					<div class="col-lg-6 form-group">
						Nome:<input name="categoria.nome" value="${categoria?.nome}" placeholder="Digite o nome da categoria"
							class="common-input mb-20 form-control" required="" type="text">
						
                <button type="submit" class="btn btn-dark">Enviar</button></a>
				<a href="@{Categorias.listar}"><br><br>
                <button type="button" class="btn btn-dark">Inicio do sistema</button></a>
				
			</form>
		</div>
		</center>
-->