#{if flash.success}
${flash.success}
#{/if}
#{elseif flash.error}
${flash.error}
#{/elseif}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon
		<link rel="shortcut icon" href="img/fav.png">
		-->
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>MUVJE - Contato</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="@{'public/museu/css/linearicons.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/font-awesome.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/bootstrap.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/magnific-popup.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/nice-select.css'}">					
			<link rel="stylesheet" href="@{'public/museu/css/animate.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/owl.carousel.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/main.css'}">
			<link rel="stylesheet" href="@{'public/stylesheets/main.css'}">
		</head>
		<body>

			  <header id="header" id="home">
			  	<div class="container header-top">
			  		<div class="row">
				  		<div class="col-6 top-head-left">
				  			<ul>
				  				<li><a href="@{Login.form}">Entrar</a></li>
				  			</ul>
				  		</div>
				  		<div class="col-6 top-head-right">
				  			<!--
				  			<ul>
		  						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  			</ul>
				  		-->
				  		</div>			  			
			  		</div>
			  	</div>
			  	<hr>
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="@{Application.index}">Home</a></li>
				          <li><a href="@{Usuarios.galeria}">Galeria</a></li>
				          <li><a href="@{Usuarios.contatos}">Contato</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Contate-nos
							</h1>	
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>Macau, Brasil</h5>
									<p>Rua Augusto Severo, 444 Centro</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>Número não definido</h5>
									<p>De segunda à sexta das 7:00 às 15:00</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>Email não definido</h5>
									<p>Envie-nos a sua consulta a qualquer momento!</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							<form class="form-area " id="myForm" method="post" action="https://api.staticforms.xyz/submit" class="contact-form text-right">
								<div class="row">	
									<div class="col-lg-6 form-group">
									
									    <input type="hidden" name="accessKey" value="3bd4fb54-b6b9-470c-a755-af30abf8f38e">		
									    <input type="hidden" name="redirectTo" value="https://museumacau.herokuapp.com/usuarios/contatos">
									    						     
									
										<input name="name" placeholder="Digite seu nome" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									
									    <input name="email" placeholder="Digite seu email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									
                                        <input name="subject" placeholder="Digite o assunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text">
										<div class="mt-20 alert-msg" style="text-align: left;"></div>

									</div>
									<div class="col-lg-6 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
										<button type="submit" class="primary-btn mt-20 text-white" style="float: right;">Enviar mensagem</button>
																				
									</div>
								</div>
							</form>	
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Sobre Nós</h6>
								<p>
									Este site foi construído com o intuito de divulgar as principais informações relacionadas ao Museu José Elviro, assim, preservando e disseminando a história de Macau.
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> and distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						
						<!--				
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Siga-nos</h6>
								<p>Nossas redes sociais</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>
						 -->							
					</div>
				</div>
			</footer>		
			<!-- End footer Area -->		

			<script src="@{'public/museu/js/vendor/jquery-2.2.4.min.js'}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="@{'public/museu/js/vendor/bootstrap.min.js'}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="@{'public/museu/js/easing.min.js'}"></script>			
			<script src="@{'public/museu/js/hoverIntent.js'}"></script>
			<script src="@{'public/museu/js/superfish.min.js'}"></script>	
			<script src="@{'public/museu/js/jquery.ajaxchimp.min.js'}"></script>
			<script src="@{'public/museu/js/jquery.magnific-popup.min.js'}"></script>	
			<script src="@{'public/museu/js/owl.carousel.min.js'}"></script>	
			<script src="@{'public/museu/js/imagesloaded.pkgd.min.js'}"></script>
			<script src="@{'public/museu/js/justified.min.js'}"></script>					
			<script src="@{'public/museu/js/jquery.sticky.js'}"></script>
			<script src="@{'public/museu/js/jquery.nice-select.min.js'}"></script>			
			<script src="@{'public/museu/js/parallax.min.js'}"></script>		
			<script src="@{'public/museu/js/mail-script.js'}"></script>	
			<script src="@{'public/museu/js/main.js'}"></script>	
			<script src="https://kit.fontawesome.com/bfaa6a36fa.js" crossorigin="anonymous"></script>
			
	
		</body>
	</html>
<!-- 
	<form class="form-area " id="myForm" action="mail.php" method="post" class="contact-form text-right">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text">
										<div class="mt-20 alert-msg" style="text-align: left;"></div>
									</div>
									<div class="col-lg-6 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
										<button class="primary-btn mt-20 text-white" style="float: right;">Send Message</button>
																				
									</div>
								</div>
							</form> -->
