#{extends 'main-administrador.html' /}
#{set title:'Administração' /}

#{if flash.success}
${flash.success}
#{/if}
#{elseif flash.error}
${flash.error}
#{/elseif}
<meta charset="utf-8">

<main class="h-full pb-16 overflow-y-auto">
	<form class="container px-6 mx-auto grid" action="@{Usuarios.salvar}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="usu.id" value="${usu?.id}">
    	<h2
        	class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
        	Cadastro de administradores
        </h2>
			
       	<div
        	class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
        >
        <div class="mt-4 text-sm">
        	<label class="block text-sm">
            	<span class="text-gray-700 dark:text-gray-400">Nome</span>
               	<input
               		name="usu.nome" 
               		value="${usu?.nome}"
                 		class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                 		placeholder="Digite o nome completo do administrador"                 		
               	/>
               	<span class="msg-erro">#{error 'usu.nome' /}</span>
       		</label>
       	</div>
        <div class="mt-4 text-sm">
        	<label class="block text-sm">
            	<span class="text-gray-700 dark:text-gray-400">Email</span>
               	<input
               		name="usu.email" 
               		value="${usu?.email}"
                 		class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                 		placeholder="Digite o email do administrador"
               	/>
               	 	<span class="msg-erro">#{error 'usu.email' /}</span>
       		</label>
       	</div>
       	<div class="mt-4 text-sm">
        	<label class="block text-sm">
            	<span class="text-gray-700 dark:text-gray-400">CPF</span>
               	<input
               		name="usu.cpf" 
               		class="cpf block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                 		placeholder="Digite o cpf do administrador"
               		value="${usu?.cpf}"
                 		
               	/>
               	 	<span class="msg-erro">#{error 'usu.cpf' /}</span>
       		</label>
       	</div>
       	
       	<div class="mt-4 text-sm">
        	<label class="block text-sm">
            	<span class="text-gray-700 dark:text-gray-400">Senha</span>
               	<input
               		name="usu.senha" 
               		class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
               		placeholder="Digite a senha"
               		type="password"
               	/>
               	 	<span class="msg-erro">#{error 'usu.senha' /}</span>
       		</label>
       	</div>
       	
       	<input type="hidden" name="senha" value="${usu?.senha}"></div>
       	
       	 Cadastrar usuário como padrão:
         <select name="usuario.nivel">
         <option value="0" #{if usuario?.nivel == 0} selected #{/if}>Padrão</option>
         </select>
         <br/>
       	
       	<div class="mt-4 text-sm">
        	<label class="block text-sm">
            	<span class="text-gray-700 dark:text-gray-400">Selecione uma foto de perfil</span>
               	<input
               		name="usu.fotoPerfilAdmin" 
               		type="file"
             	/>
             	
             	
       		</label>
       	</div>   
       	
       	<div class="mt-4 text-sm">
	       	<a href="@{Usuarios.listar}">
		        <button
		        	Style="cursor:pointer"
		        	type="submit"
		          	class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
		        >
		        Cadastrar
		        </button>
		    </a>
       	</div>
	</form>
</main>
