#{if flash.success}
${flash.success}
#{/if}
#{elseif flash.error}
${flash.error}
#{/elseif}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon
		<link rel="shortcut icon" href="img/fav.png">
		-->
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>MUVJE - Exposições</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="@{'public/museu/css/linearicons.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/font-awesome.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/bootstrap.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/magnific-popup.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/nice-select.css'}">					
			<link rel="stylesheet" href="@{'public/museu/css/animate.min.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/owl.carousel.css'}">
			<link rel="stylesheet" href="@{'public/museu/css/main.css'}">
			<link rel="stylesheet" href="@{'public/stylesheets/main.css'}">
			
		</head>
		<body>

			  <header id="header" id="home">
			  	<div class="container header-top">
			  		<div class="row">
				  		<div class="col-6 top-head-left">
				  			<ul>
				  				<li><a href="@{Login.form}">Entrar</a></li>
				  			</ul>
				  		</div>
				  		<div class="col-6 top-head-right">
				  			<!--
				  			<ul>
		  						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  			</ul>
				  		-->
				  		</div>			  			
			  		</div>
			  	</div>
			  	<hr>
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="@{Application.index}">Home</a></li>
				          <li><a href="@{Usuarios.galeria}">Galeria</a></li>
				          <li><a href="@{Usuarios.contatos}">Contato</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg">
				
				</div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Coleções e categorias		
							</h1>	
							<div class="search-bar-header">
								<form action="@{Usuarios.galeria}">
									<div class="input-area">
										<input name="busca" value="${busca}" placeholder="Pesquisar coleção" autocomplete="off">
									</div>
									<button>							
											<i class="fas fa-search" style="color: white"></i>
									</button>
								</form>
							</div>
						</div>										
					</div>
				</div>
				
			
			</section>
			#{if categorias != null && categorias.size() != 0}
			<section class="upcoming-exibition-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="text-center" style="border-bottom: 1px solid rgb(60, 60, 60)">
								<h1 class="mb-10">Categorias</h1>
								<p>Aqui você poderá explorar os objetos que fazem parte de uma determinada categoria.</p>
							</div>
							
						</div>
					</div>
					<div class="exposicao-categorias">
						#{list items:categorias, as:'categoria'}
						<a href="@{Objetos.exibirObjetos(categoria.id, null, categoria.nome, null)}">
						<div class="container-categoria" style="background-image: url(/uploads/${fotosCategorias.get(categoria.id)});">
							<h3>${categoria.nome}</h3>
						</div>
						</a>
						
						#{/list}
			
					</div>
				</div>
			</section>
			#{/if}
			
			#{if colecoesPermanentes != null && colecoesPermanentes.size() != 0}
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Nossas Exposições</h1>
								<p>Aqui você poderá explorar coleções relacionadas a épocas, locais ou até mesmo pessoas.</p>
							</div>
						</div>
					</div>						
					#{if colecoesPermanentes != null && colecoesPermanentes.size() != 0}
										
					<div class="row-galery">
					
						#{list items:colecoesPermanentes, as:'colecao'}
							#{if colecao.visivel == true}
								<a href="@{Objetos.exibirObjetos(null, colecao.id, colecao.nome, colecao.descricao)}">
									<div class="card" style="background-image: url(/uploads/${colecao.fotoCapa.nomeFoto});">
										<div class="content">
											<div class="title">
												<h1 class="text-withe">${colecao.nome}</h1>
											</div>
											<div class="description">
												<p class="text-withe">${colecao.descricao}</p>
												<div class="desc-col-perm">
													#{if nObjVisi.get(colecao.id) == 1}
														<p class="text-withe border-5-white" style="font-size: 12px">1 artefato</p>
													#{/if}
													#{else}
														<p class="text-withe border-5-white" style="font-size: 12px">${nObjVisi.get(colecao.id)} artefatos</p>
													#{/else}
												</div>
											</div>
										</div>
									</div>
								</a>
							#{/if}
						#{/list}
							
					</div>
				</div>	
				#{/if}
				</div>	
			</section>
			#{/if}
			
			#{if colecoesTemporarias != null && colecoesTemporarias.size() != 0}
			<section class="upcoming-exibition-area section-gap" style="background-color: rgb(249, 249, 255)">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="text-center" style="border-bottom: 1px solid rgb(60, 60, 60)">
								<h2 class="mb-10">Exposições Temporárias</h2>
							</div>
							
						</div>
					</div>					
					<div class="row-galery">
					
						#{list items:colecoesTemporarias, as:'colecao'}
							#{if colecao.visivel == true}
						
								<a href="@{Objetos.exibirObjetos(null, colecao.id, colecao.nome, colecao.descricao)}">
									<div class="card" style="background-image: url(/uploads/${colecao.fotoCapa.nomeFoto});">
										<div class="content">
											<div class="title">
												<h1 class="text-withe">${colecao.nome}</h1>
											</div>
											<div class="description">
												<p class="text-withe">${colecao.descricao}</p>
												<div class="desc-col-temp">
													#{if nObjVisi.get(colecao.id) == 1}
														<p class="border-5-white text-withe" style="font-size: 12px">1 artefato</p>
													#{/if}
													#{else}
														<p class="border-5-white text-withe" style="font-size: 12px">${nObjVisi.get(colecao.id)} artefatos</p>
													#{/else}
													<div class="data-exposicao">
														<p class="text-withe" style="font-size: 12px;">Até ${colecao.dataFinalExp.format("dd/MM/yyyy")}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							#{/if}
						#{/list}
							
					</div>
				</div>
			</section>
			#{/if}
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Sobre Nós</h6>
								<p>
									Este site foi construído com o intuito de divulgar as principais informações relacionadas ao Museu José Elviro, assim, preservando e disseminando a história de Macau.
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> and distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						
						<!--				
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Siga-nos</h6>
								<p>Nossas redes sociais</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>
						 -->							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->		

			<script src="@{'public/museu/js/vendor/jquery-2.2.4.min.js'}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="@{'public/museu/js/vendor/bootstrap.min.js'}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="@{'public/museu/js/easing.min.js'}"></script>			
			<script src="@{'public/museu/js/hoverIntent.js'}"></script>
			<script src="@{'public/museu/js/superfish.min.js'}"></script>	
			<script src="@{'public/museu/js/jquery.ajaxchimp.min.js'}"></script>
			<script src="@{'public/museu/js/jquery.magnific-popup.min.js'}"></script>	
			<script src="@{'public/museu/js/owl.carousel.min.js'}"></script>	
			<script src="@{'public/museu/js/imagesloaded.pkgd.min.js'}"></script>
			<script src="@{'public/museu/js/justified.min.js'}"></script>					
			<script src="@{'public/museu/js/jquery.sticky.js'}"></script>
			<script src="@{'public/museu/js/jquery.nice-select.min.js'}"></script>			
			<script src="@{'public/museu/js/parallax.min.js'}"></script>		
			<script src="@{'public/museu/js/mail-script.js'}"></script>	
			<script src="@{'public/museu/js/main.js'}"></script>	
			<script src="https://kit.fontawesome.com/bfaa6a36fa.js" crossorigin="anonymous"></script>
		</body>
	</html>